*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  overflow-x: hidden;
}

.container{
background-color: #202020;
color: white;
width: 300px;
padding: 2rem;
border-radius: 10px;
display: flex;
flex-direction: column;
text-wrap: wrap;
}

.input-container{
  outline: none;
  border: none;
  padding:  10px 1rem;
  border-radius: 100px;
  margin-bottom: 10px;

 
  
}

.btn-container{
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  background-color: #9B60F7;
  color: white;

}
p{
  padding: 1rem;
  font-weight: 800;
  color: orange;
}
.img-container{
  width: 100%;
  border-radius: 30px;
  margin-top: 1rem;
  
}
.userName{
  color: orange;
  font-weight: bold;
}
h4{
  margin-bottom: 10px;
  text-wrap: wrap;
}